# file extensions
*.pyc

# folders
.idea/
__pycache__/
node_modules/
toshokan/manga
toshokan/static/.webassets-cache
toshokan/static/bower_components
toshokan/static/manga

# specific files
database.db
database.db-journal
settings.json
