{% extends "series/unit_view_base.html" %}
{% block subunits %}
    {% if series.doujins|length > 0 %}
        <div class="doujin media">
            <div class="media-body">
                <img class="media-object" src="http://placehold.it/218x325">
                <p class="caption">Doujinshi</p>
            </div>
        </div>
    {% endif %}
    {% if series.volumes|length > 0 %}
        {% for v in series.volumes %}
            <div class="volume media" data-sid="{{ series.id }}" data-vid="{{ v.id }}">
                <div class="media-body">
                    <img class="media-object" src="http://placehold.it/218x325">
                    <p class="caption">{% if v.name is not none %}{{ v.name }}{% else %}Volume {{ v.number }}{% endif %}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
