$black: #000000;
$white: #FFFFFF;

$font-color: #1EBC61;
$background: #0C1A29;
$accent-1: #1C2A39;
$accent-2: #2C3A49;
$accent-3: #3C4A59;
$accent-4: #4C5A69;
$accent-5: #5C6A79;
$accent-6: #6C7A89;
$accent-7: #7C8A99;
$accent-8: #8C9AA9;
$accent-9: #9CAAB9;
$accent-10: #ACBAC9;

$test: #FF00FF;

$flatRed: #F75C4C;
