@import "global";

html, body, .row {
    color: $font-color;
    overflow: hidden;
}

.viewbox {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.nav {
    background: inherit;

    li a, li a:visited {
        color: $font-color !important;

         &:hover {
            background: $accent-3 !important;
        }
    }

    li.active, li.active a:visited {
        background: $font-color !important;
        color: $white !important;
    }
}

.topbar {
    background: $background;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .glyphicon {
        font-size: 25px;
        font-weight: bold;
    }
}

.sidebar {
    background: $accent-1;
    height: 100vh;
}

.content {
  background: $accent-2 !important;
  height: 100vh;

  .series-list {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;

    .cancer {
        display: block;
        content: ".";
        visibility: hidden;
        width: 100%;
        height: 100px;
        background: $test;
    }
  }
}

.col-sm-3, .col-sm-9, .col-md-2, .col-md-10, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.chapter, .doujin, .series, .volume {
    width: 15%;
    border-radius: 2px;
    margin: 3px 3px 9px 3px;
    display: inline-block;
    position: relative;
    overflow: visible !important;

    &:hover {
        cursor: pointer;

        img {
            transition: 0.2s;
            opacity: 0.75;
        }

        .caption {
            max-height: 100% !important;
        }
    }

    .unread {
        background: $font-color;
        color: $white;
        text-align: center;
        padding: 4px 8px;
        border-radius: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .media-body {
        img {
            transition: 0.2s;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }

    .caption {
        background: $accent-3;
        line-height: 15px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        z-index: 20;
        overflow: hidden;
        padding: 3px;
        display: block;
        max-height: 20px !important;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        p {
            margin: 0;
        }
    }
}

.series-info {
    hr {
        width: 80%;
        border-top: 1px solid $font-color !important;
    }

    img {
        padding: 20px 0 0 20px;
    }

    h2 {
        text-align: center;
    }
}

.series-form {
    background: $accent-4;
    width: 80%;
    height: 80%;
    display: block;
}