<div class="series-form">
    <form>
        <table border="1">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td><label for="series_name">Series Name</label></td>
                    <td><input id="series_name" class="form-control" type="text" name="series_name"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>